@import url(https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&display=swap);

body {
  margin: 0;
  font-family: "Hind Mysuru", sans-serif;
  background: linear-gradient(to right, #38c6f4, #c86585);
}

.App {
  text-align: center;
  color: white;
  padding: 2rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.rotating-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  pointer-events: none;
}


.card {
  color: black;
  position: absolute;
  width: 220px;
  height: 260px;
  perspective: 1000px;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
  transition: transform 0.3s ease-out; /* Add smooth transition */
}

.card:hover {
  transform: scale(2);
}

.center-container {
  position: absolute;
  z-index: 2; /* Ensure the title and dropdown appear above the rotating cards */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the container */
}